<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Work</title>
    <style>
        body {
            color: red;
            background-color: black;
        }
    </style>
</head>
<body>
    <h1>Please write the work to be done!!!</h1>
</body>
</html>